<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-[#fafafa00]">
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>
  <div class="circle pointer-events-none z-20"></div>

  <header class="w-screen flex justify-center items-center py-8">
    <h1>Image generator for collecting my own thoughts</h1>
  </header>

  <main class="">