<%- include('partials/header.ejs') %>

<h1>main</h1>

<div>
  <%if (locals.image) {%>
    <img src=<%= image %> alt="image">
  <%} else {%>
    <p>There is no image</p>
  <%}%>
</div>

<form action="/create" method="post">
  <input type="text" name="prompt" placeholder="Type your prompt">
  <button type="submit">Submit</button>
</form>

<%- include('partials/footer.ejs') %>
